.loginForm {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
  }
  
  .label {
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  .input {
    font-size: 16px;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
  }
  .loginForm button{
    margin-bottom: 1rem;
  }
  
  
  